.main-container {
    margin-bottom: 10vh;
    padding: 20px;
    border: 1px solid rgba(209, 209, 209, 1);
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 15px 1px rgba(209, 209, 209, 1);
    -moz-box-shadow: 0px 1px 15px 1px rgba(209, 209, 209, 1);
    box-shadow: 0px 1px 15px 1px rgba(209, 209, 209, 1);
}

.komentarProfila {
  padding: 1vh 3vh 3vh;
  margin:1vh;
  border: 1px solid rgba(209, 209, 209, .5);
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 15px 1px rgba(209, 209, 209, .5);
  -moz-box-shadow: 0px 1px 15px 1px rgba(209, 209, 209, .5);
  box-shadow: 0px 1px 15px 1px rgba(209, 209, 209, .5);
}

.komentarProfila .btn {
  float:right;
}

.komentarProfila hr {
  margin-top:.5%;
}

#deleteButton {
    float: right;
}

#naslovOglas {
    text-align: center
}

.naslov {
    text-align: center;
}

.delete-row {
    margin-bottom: 0;
}

.bottom-row {
    margin-left: 15vh;
}

.ocenaStar{
    text-align: center;
    margin: 0 auto;
}

@media only screen and (max-width: 991px) {

    .opisProfila {
        width: 75%;
    }
}
