<main>
    <app-navbar></app-navbar>

    <div *ngIf="user" class="container main-container">
        <div class="row delete-row">
            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                <button *ngIf="this.contactExists" (click)="dodajPodHitreKontakte()" id="dodajKontakt" class="btn btn-primary">Dodaj med hitre kontakte</button>
                <button *ngIf="!(this.contactExists)" (click)="brisiIzHitrihKontaktov()" id="brisiKontakt" class="btn btn-danger">Izbriši hitri kontakt</button>
                <button (click)="ogledOglasov()" id="vsiOglasi" class="btn btn-primary" style="margin-left:1vh;">Vsi Oglasi</button>
            </div>
            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                <button (click)="backButton()" class="btn btn-success" id="backButtonOtherProfile" >
                    <i class="fas fa-chevron-left"></i>
                </button>
            </div>
        </div>
        <br>
        <div class="row">

            <div class="col-6 col-md-6 col-lg-6 col-xl-6 infoContainer">

                <p id="OimeUporabnika"><b>Ime in priimek:</b> {{user.name}} {{user.surname}}</p>
                <p id="OtelUporabnika"><b>Tel. Številka:</b> {{user.phone}}</p>
                <p id="OmailUporabnika"><b>E-mail:</b> {{user.email}}</p>
            </div>
            <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                <p id="opisProfilaOUporabnika" class="opisProfila"><b>Opis: </b><br>
                </p>
            </div>
        </div>

        <div class="row" style="text-align: center;">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                <div id="ocenaZvezdeUporabnika" class="ocenaStar">
                    <p><b>Ocena:</b><br></p>

                  <i class="fa{{ user.rating < 1 ? 'r' : 's'}} fa-star"></i>
                  <i class="fa{{ user.rating < 2 ? 'r' : 's'}} fa-star"></i>
                  <i class="fa{{ user.rating < 3 ? 'r' : 's'}} fa-star"></i>
                  <i class="fa{{ user.rating < 4 ? 'r' : 's'}} fa-star"></i>
                  <i class="fa{{ user.rating < 5 ? 'r' : 's'}} fa-star"></i>
                </div>
              <div class="ocenaStar" style="margin-top:8pt">
                <button class="btn btn-warning" id="ocenaBtn" type="button" data-toggle="modal" href="#ocenaModal">Podaj oceno</button>
                <p id="ocenaProfila" style="opacity: 0">{{user.rating}}</p>
              </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                <button id="dodajKomentar" data-toggle="modal" data-target="#dodajKomentarModal" class="btn btn-primary" style="float:right">Dodaj Komentar</button>
            </div>
            <div class="col-12 col-md-12 col-lg-12 col-xl-12">

                <b>Komentarji: </b>
            </div>
            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                <div *ngFor="let comment of user.comments" class="komentarProfila">
                    <b>{{comment.owner}}</b>
                    <hr> {{comment.content}}
                    <button *ngIf="comment.owner === this.prijavljenUporabnik.email || this.prijavljenUporabnik.role === 2" id="deleteCommentBtn" (click)="initateCommentDelete(comment._id)" class="btn btn-danger" data-toggle="modal" href="#confirmationModal">
                    <i class="far fa-trash-alt"></i>
                  </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-lg" id="dodajKomentarModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Dodaj Komentar</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Opis oglasa:</label>
                        <textarea #inputVsebinaKomentarja class="form-control" id="vsebinaKomentarja"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="buttonUrediOglas" (click)="createComment()" class="btn btn-primary">Dodaj Komentar</button>
                    <button type="button" id="buttonCloseUrediOglas" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
  <div class="container">
    <div class="modal fade" id="ocenaModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Podaj oceno</h5>
            <button type="button" id="zapriModal" class="close" data-dismiss="modal"><span>&times;</span></button>
          </div>
          <div class="modal-body">
            <select [(ngModel)]="ocena" id="ocena" name="ocena" class="form-control form-control-sm">
              <option [ngValue]="5">5</option>
              <option [ngValue]="4">4</option>
              <option [ngValue]="3">3</option>
              <option [ngValue]="2">2</option>
              <option [ngValue]="1">1</option>
            </select>
          </div>
          <div role="alert" *ngIf="ok" class="alert alert-ok">
            <div class="modal-footer">
              Ocena podana!
              <button type="button" class="btn btn-secondary" data-dismiss="modal" id="dismissBtn">Zapri</button>
            </div>
          </div>
          <div role="alert" *ngIf="!ok">
            <div class="modal-footer">
              <button (click)="podajOceno()" type="button" class="btn btn-secondary" id="updateBtn">Podaj oceno</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="modal fade" id="confirmationModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteCommentModal">Ali ste prepričani, da želite izbrisati komentar?</h5>
            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          </div>
          <div class="modal-body">
            <p>
              Ob pritisku na gumb "Izbriši" se bo komentar izbrisal.
            </p>
          </div>
          <div class="modal-footer">
            <button (click)="deleteComment()" type="button" class="btn btn-secondary" data-dismiss="modal" id="deleteBtn">Izbriši</button>
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" id="dismissBtn1">Prekliči</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
