nav {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px;
    border-style: solid -webkit-box-shadow: 0px 1px 15px 1px rgba(209, 209, 209, 1);
    -moz-box-shadow: 0px 1px 15px 1px rgba(209, 209, 209, 1);
    box-shadow: 0px 1px 15px 1px rgba(209, 209, 209, 1);
}

body {
    background: #ededed;
}

#profileButton {
    margin: 1vh;
}

.main-container {
    margin-top: 5vh;
}

.row {
    margin-top: 5vh;
}

.row h5 {
    text-align: center;
    padding-top: 1vh;
}

.image-container {
    width: 100%;
    height: 50%;
}

.oglas {
    padding: 1vh;
    -webkit-box-shadow: 0px 1px 15px 1px rgba(209, 209, 209, 1);
    -moz-box-shadow: 0px 1px 15px 1px rgba(209, 209, 209, 1);
    box-shadow: 0px 1px 15px 1px rgba(209, 209, 209, 1);
    border-radius: 5px;
    margin-top: 3vh;
}

.spacer {
    margin: 1vh;
}

.main-buttons {
    text-align: center;
}