<main>
    <app-navbar></app-navbar>

    <div>
        <div class="container main-container">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-4 col-xl-4 main-buttons">
                    <button class="btn btn-success">Ustvari oglas</button>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-4 main-buttons">
                    <button class="btn btn-primary">Hitri Kontakti</button>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-4 main-buttons">
                    <button class="btn btn-primary">Zgodovina</button>
                </div>
            </div>

            <div class="row">
                <app-oglas *ngFor="let oglas of oglasi" [oglas]="oglas" class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4"></app-oglas>
            </div>

        </div>
    </div>
</main>