<main>
    <app-navbar></app-navbar>
    <div>
        <div class="container main-container">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-4 col-xl-4 main-buttons">
                  <div class="row justify-content-center">
                    <button class="btn btn-success" data-toggle="modal" id="ustvari" data-target="#ustvariOglasModal">Ustvari oglas</button>
                  </div>
                </div>
              <div class="col-12 col-md-4 col-lg-4 col-xl-4 main-buttons">
                <div class="row justify-content-center">
                  <input class="form-control inline" style="width: 80%" type="search" id="searchBar" placeholder="Poišči oglas..." (keyup)="onSearchChange($event.target.value)" aria-label="Search">
                  <button class="btn btn-primary inline" style="width: 20%" id="searchBtn" (click)="search()">Išči</button>
                </div>
              </div>
              <div class="col-12 col-md-4 col-lg-4 col-xl-4 main-buttons">
                <div class="row justify-content-center">
                  <button (click)="openHitriKontakti()" class="btn btn-primary" id="hitri">Hitri Kontakti</button>
                </div>
              </div>
            </div>
            <div *ngIf="oglasi;else OglasiElseBlock" class="row">
                <app-oglas *ngFor="let oglas of oglasi | invert" [oglas]="oglas" class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4"></app-oglas>
            </div>
            <ng-template #OglasiElseBlock>
                <h2>loading...</h2>
            </ng-template>

        </div>
    </div>


    <div class="modal fade bd-example-modal-lg" id="ustvariOglasModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ustvari Oglas</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="naslovOglasa">Naslov oglasa:</label>
                        <input #inputNaslovOglasa type="text" class="form-control" id="naslovOglasa">
                    </div>
                    <div class="form-group">
                        <label for="opisOglasa">Opis oglasa:</label>
                        <textarea #inputOpisOglasa class="form-control" id="opisOglasa"></textarea>
                    </div>
                  <div class="form-group">
                    <label for="lokacijaOglasa">Lokacija prevzema:</label>
                    <input #inputLokacijaOglasa type="text" class="form-control" id="lokacijaOglasa">
                  </div>
                    <div class="form-group">
                        <label for="cenaOglasa">Cena (opcijsko):</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <!--- TODO Spremeni € v valuto - angular  --->
                                <span class="input-group-text">€</span>
                            </div>
                            <input #inputCenaOglasa type="text" class="form-control" id="cenaOglasa">
                        </div>
                    </div>
                    <div *ngIf="!this.oglas.picture" class="form-group">
                        <label for="dodajSliko">Dodaj Sliko:</label>
                        <input #inputSlikaOglasa (change)="onPictureChange($event.target)" default="nopic" type="file" class="form-control-file" id="dodajSliko">
                        <div class="invalid-feedback">Datoteka mora imeti končnico .jpg ali .png </div>
                    </div>
                    <div *ngIf="this.oglas.picture" class="form-group">
                        <div class="col-12">
                          <div class="row">
                            <img src="{{this.oglas.picture}}">
                          </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="buttonAddOglas" (click)="createOglas()" class="btn btn-primary">Dodaj Oglas</button>
                    <button type="button" id="buttonCloseAddOglas" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</main>
