<main>
    <nav class="navbar navbar-light">
        <h3>DogWalkers</h3>
        <form class="form-inline">
        </form>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" id="searchButton" placeholder="Search" aria-label="Search">
            <button class="btn btn-success" type="submit">Iskanje</button>

            <button class="btn btn-light" id="profileButton" type="button">
                <i class=" fas fa-user "></i> Profil
            </button>
        </form>
    </nav>

    <div>
        <div class="container main-container">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-4 col-xl-4 main-buttons">
                    <button class="btn btn-success">Ustvari oglas</button>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-4 main-buttons">
                    <button class="btn btn-primary">Hitri Kontakti</button>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-4 main-buttons">
                    <button class="btn btn-primary">Zgodovina</button>
                </div>
            </div>

            <div class="row">
              <app-oglas *ngFor="let oglas of oglasi" [oglas]="oglas"></app-oglas>
            </div>
        </div>
    </div>

</main>
