<main>
  <app-navbar></app-navbar>
  <div>
    <div class="container main-container">
      <button (click)="nazajNaProfil()" class="btn btn-success" id="backButtonOtherProfile" >
        <i class="fas fa-chevron-left"></i>
      </button>
      <div *ngIf="oglasi;else OglasiElseBlock" class="row">
        <app-oglas *ngFor="let oglas of oglasi | invert" [oglas]="oglas" class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4"></app-oglas>
      </div>
      <ng-template #OglasiElseBlock>
        <h2>loading...</h2>
      </ng-template>

    </div>
  </div>

</main>
