<main>
  <app-navbar></app-navbar>
  <div>
    <div class="container main-container">
      <div class="row">
        <div class="col-12 col-md-4 col-lg-4 col-xl-4 main-buttons">
          <div class="row justify-content-center">
            <input class="form-control" (keyup)="onSearchChange($event.target.value)" type="search" id="searchButton" placeholder="Poišči oglas..." aria-label="Search">
          </div>
        </div>
        
      </div>
      <div *ngIf="oglasi;else OglasiElseBlock" class="row">
        <app-oglas *ngFor="let oglas of oglasi | invert" [oglas]="oglas" class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4"></app-oglas>
      </div>
      <ng-template #OglasiElseBlock>
        <h2>loading...</h2>
      </ng-template>

    </div>
  </div>

</main>
