.row {
    margin-top: 5vh;
    text-align: center;
}

.form {
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.registration {
    margin: 20px;
}

.guest {
    margin: 20px;
}