name: Neprekinjena dostava

on: # Kdaj se za훾ne izvajanje delovnega toka?
  push:
    branches:
      - produkcijsko-okolje # Ob vsaki uveljavitvi na veji produkcijsko-okolje.
    paths-ignore:
      - "docs/**" # Ignoriramo, 훾e uveljavitev spreminja zgolj vsebino mape docs.
      - "README.md" # Ignoriramo spremembe v dokumentaciji.

jobs:
  build:
    runs-on: # Okolje, v katerem se testi izvedejo.
      - ubuntu-latest
    strategy:
      matrix:
        node-verzija:
          - 15.x
    steps: # Posamezni koraki testiranja.
      - uses: actions/checkout@v2 # Pridobimo izvorno kodo repozitorija.
      - name: Uporabi Node.js ${{ matrix.node-verzija }} # Nastavi Node.js okolje.
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-verzija }}
      - run: docker-compose up -d
        working-directory: ./src/app_database
      - run: npm run mongo-import
        working-directory: ./src/app_api
      - run: npm install @angular/cli -g
      - run: npm install # Namesti knji탑nice.
        working-directory: ./src/app_public
      - run: npm install
        working-directory: ./src/app_api
      - run: npm start &
        working-directory: ./src/app_api
      - run: ng serve &
        working-directory: ./src/app_public
      - run: npx cypress run --spec ../../test/test.spec.js # Po탑eni teste.
        working-directory: ./src/app_public