nav {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px;
    border-style: solid;
    border: 1px solid rgba(209, 209, 209, 1);
  -webkit-box-shadow: 0px 1px 15px 1px rgba(209, 209, 209, .5);
  -moz-box-shadow: 0px 1px 15px 1px rgba(209, 209, 209, .5);
  box-shadow: 0px 1px 15px 1px rgba(209, 209, 209, .5);
}

body {
    background: #ededed;
}

#profileButton {
    margin: 1vh;
}

.main-container {
    margin-top: 5vh;
}

.row {
    margin-bottom: 5vh;
}

.row h5 {
    text-align: center;
    padding-top: 1vh;
}

.opisOglasa {
    margin-left: 15vh;
    margin-right: 14vh;
    padding: 1vh;
    -webkit-box-shadow: 0px 1px 15px 1px rgba(209, 209, 209, .5);
    -moz-box-shadow: 0px 1px 15px 1px rgba(209, 209, 209, .5);
    box-shadow: 0px 1px 15px 1px rgba(209, 209, 209, .5);
    border-radius: 5px;
}

.maps-container img {
    width: 100%;
    height: 100%
}

.image-container img {
    width: 100%;
    height: 100%
}

.oglas {
    padding: 1vh;
    -webkit-box-shadow: 0px 1px 15px 1px rgba(209, 209, 209, 1);
    -moz-box-shadow: 0px 1px 15px 1px rgba(209, 209, 209, 1);
    box-shadow: 0px 1px 15px 1px rgba(209, 209, 209, 1);
    border-radius: 5px;
    margin-top: 3vh;
}

.spacer {
    margin: 1vh;
}

.main-buttons {
    text-align: center;
}
